<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">My App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/public" href="#" (click)="publicScreen($event)">Public</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/private" href="#" (click)="privateScreen($event)">Private</a>
      </li>
      <li class="nav-item" *ngIf="!isAuthenticated">
        <a class="nav-link" href="#" (click)="login($event)">Login</a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticated">
        <a class="nav-link" href="#" (click)="logout($event)">Logout</a>
      </li>
    </ul>
  </div>
</nav>
